$partial("templates/includes/head.html")$

<section class="article">

$if(feature)$
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url($base_url$/images/$feature$)"></div>
$else$
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url($base_url$/images/typewriter.jpg)"></div>
$endif$


      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>$title$</h1>
            <p class="date">$date$</p>
            <p class="intro">$if(description)$ $description$ $else$ $tagline$ $endif$</p>
          </hgroup>
        </header>

        $body$

      </article>

    </section>
</div>

$partial("templates/includes/footer.html")$
